<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p>User: <%= #review.username %></p>
      <p></b>Title: <%= #review.title %></b></p>
      <p>Score: <%= #review.score %></p>
      <p>Details: <%= #review.explanation %><p>
    </div>
  </div>
</div>


<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="https://github.com/normanrs">Norm</a></li>
    <li><a href="https://github.com/mnhollandplum">Nikki</a></li>
  </ul>
</li>
