.navbar {
	margin-bottom: 0;
}

.jumbotron {
  padding:10px 0 5px 0;
	margin-top: 0;
	margin-bottom: 0;
  color: white;
	background-color: navy;
}

.breakdown{ flex-wrap: nowrap; }

.dropdown {
    display: inline;
}

.col-md-2:nth-child(6n+1) {
    clear: both;
}

.col-md-2 {
    padding-bottom: 40px;
}
